// MAIN COLORS
$primary-color:#c054f2;
$primary-color-50: #dba3f5;
$primary-color-25: #eedef2;

$accent-color:#6979F8;
$accent-color-75:#A5AFFB;
$accent-color-25:#E5E7FA;


// GRADIENT COLORS
$main-gradient: linear-gradient(225deg, #BD7AE3 0%, #8461C9 100%);
$secondary-gradient: linear-gradient(225deg, #CDDDF4 3.26%, #CDBAFA 100%);


// NEUTRAL COLORS
$neutral-colors-0:#FFFFFF;
$neutral-colors-20:#F7F5F9;
$neutral-colors-40:#ECE9F1;
$neutral-colors-60:#D0C9D6;
$neutral-colors-80:#3F3356;
$neutral-colors-100:#1A051D;


// SEMANTIC COLORS
$success-color:#00C48C;
$success-color-75:#7DDFC3;
$success-color-25:#D5F2EA;

$warning-color:#FFCF5C;
$warning-color-75:#FFE29D;
$warning-color-25:#FFF8E7;

$info-color:#0084F4;
$info-color-75:#66B5F8;
$info-color-25:#D5E9FA;

$error-color:#FF647C;
$error-color-75:#FDAFBB;
$error-color-25:#FBE4E8;