<!DOCTYPE html>
<html lang="en"><!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Proffesor Owl</title>
      <link rel="stylesheet" href="./sass/styles.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&amp;display=swap" rel="stylesheet">
      <script src="./js/script.js"></script>
      <script src="./js/statistics.js"></script>
    </head>
  </html>
  <body>
    <main> 
      <section class="header-container"><img src="./assets/img/logo.png" alt="A wise a beautiful owl is the logo of this website">
        <h1>Are you ready to do some math?</h1>
      </section>
    </main>
    <footer>
      <p>Made with ♥ by <a href="https://gonzalonso.com" target="_blank">Gonza Alonso</a></p>
    </footer>
  </body>
</html>