$main-font:'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$subtitle-spacing: 0.035rem;

$h1-size-small: 3.4rem;
$h1-size-medium: 3.8rem;
$h1-size-large: 4.2rem;

$h4-size-small: 2.2rem;
$h4-size-medium: 2.6rem;
$h4-size-large: 3rem;

$h6-size-small: 1.8rem;
$h6-size-medium: 2.2rem;
$h6-size-large: 2.6rem;


$p-size-small:1.6rem;
$p-size-medium:1.7rem;
$p-size-large:1.8rem;

$p-weight-small:400;
$p-spacing-small:-0.25px;

$label-size-small:1.2rem;
$label-size-medium:1.3rem;
$label-size-large:1.4rem;

$button-size-small:1.4rem;
$button-size-medium:1.5rem;
$button-size-large:1.6rem;
$button-spacing-small:1px;


/* $h2-size-small: rem;
$h2-spacing-small: rem;
$h3-size-small: rem;
$h3-spacing-small: rem;

$medium-h1: rem;
$medium-h1: rem;
$medium-h2: rem;
$medium-h2: rem;
$medium-h3: rem;
$medium-h3: rem;

$large-h1: rem;
$large-h1: rem;
$large-h2: rem;
$large-h2: rem;
$large-h3: rem;
$large-h3: rem; */